@model FilmZone.ViewModels.Identitiy.AssignRoleViewModel

@{
    ViewData["Title"] = "Assign Role";
}

<h2 class="fw-semibold text-secondary-emphasis mt-3 mb-3">🔐 Assign Role to User</h2>

<form asp-action="AssignRole" method="post">
    <div class="mb-3">
        <label class="form-label">User Id</label>
        <input class="form-control" asp-for="Id" disabled />
    </div>    <div class="mb-3">
        <label class="form-label">User Name</label>
        <input class="form-control" asp-for="Name" disabled />
    </div>
    <div class="mb-3">
        <label class="form-label">User Email</label>
        <input class="form-control" asp-for="Email" disabled />
    </div>

    <div class="mb-3">
        <label class="form-label">Select Role</label>
        <select class="form-select" asp-for="SelectedRole" asp-items="Model.AvailableRoles">
            <option disabled selected value="">-- Select Role --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-outline-warning"">
        <i class="bi bi-plus-circle"></i> Assign Role
    </button>
</form>
