@model FilmZone.ViewModels.Identitiy.AssignRoleViewModel

@{
    ViewData["Title"] = $"Manage {Model.Name} Roles";
}

<h2>
    @(ViewBag.ActionType == "Revoke" ? $"🔓 Revoke {Model.Name} Role" : $"🔐 Assign{Model.Name} Role")
</h2>
<form asp-action="@(ViewBag.ActionType == "Revoke" ? "RevokeRole" : "AssignRole")" method="post">
    <div class="mb-3">
        <label class="form-label">User Id</label>
        <input class="form-control" asp-for="Id" disabled />
    </div>    <div class="mb-3">
        <label class="form-label">User Name</label>
        <input class="form-control" asp-for="Name" disabled />
    </div>
    <div class="mb-3">
        <label class="form-label">User Email</label>
        <input class="form-control" asp-for="Email" disabled />
    </div>

    <div class="mb-3">
        <label class="form-label">Select Role</label>
        <select class="form-select" asp-for="SelectedRole" asp-items="Model.AvailableRoles">
            <option disabled selected value="">-- Select Role --</option>
        </select>
    </div>
    @if (ViewBag.ActionType == "Revoke")
    {
        <button type="submit" class="btn btn-outline-danger">
            <i class="bi bi-dash-circle"></i> Revoke Role
        </button>
    }
    else
    {
        <button type="submit" class="btn btn-outline-warning">
            <i class="bi bi-plus-circle"></i> Assign Role
        </button>
    }
</form>
